!!! 5
%html{ :itemscope => true, :itemtype => "http://schema.org/website" }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "eyepaste.com -&gt; disposable email", :name => "title"}/
    %meta{:content => "eyepaste.com is a free disposable email service", :name => "description"}/
    %meta{:content => "email, disposable email", :name => "keywords"}/
    %meta{:content => "en", :name => "language"}/
    %meta{:itemprop => "name", :content=> "eyepaste -> disposable email" }
    %meta{:itemprop => "description", :content => "free, simple, disposable email." }
    %meta{:itemprop => "image", :content => "https://#{@host_with_port}/images/logo.gif" }
    %meta{:property => "og:image", :content => "https://#{@host_with_port}/images/eye_small.png" }
    %meta{:property => "og:type", :content => "website" }
    %meta{:property => "og:title", :content => "eyepaste -> disposable email" }
    %meta{:property => "og:site_name", :content => "eyepaste -> disposable email" }
    %meta{:property => "og:url", :content => "https://#{@host_with_port}" }
    %title eyepaste -&gt; disposable email
    %link{:href => "/favicon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/css/ep_styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %body
    #container
      %a{:href => "/"}
        %img#toplogo{:alt => "eyepaste.com", :src => "/images/logo.gif"}/
      %h2#tagline -> disposable email
      #navcontainer
        #linkbox
        %ul#topnav
          %li
            %a{:href => "/"} home
          %li
            %a{:href => "/about.html"} about
      #content
        = yield
      #pre_footer
        .fb-like{ 'data-href' => "https://#{@host_with_port}", 'data-send' => "false", 'data-layout' => "button_count", 'data-width' => "110", 'data-show-faces' => "false" }
        %a.twitter-share-button{ :href => "https://twitter.com/share", 'data-url' => "https://#{@host_with_port}"} Tweet
        <g:plusone size="small"></g:plusone>
        %a.firefox{:href => "http://getfirefox.com/", :target => "_new", :title => "Get Firefox - The Browser, Reloaded."}
          Get Firefox
        .clear
      #footer
        %p
          brought to you by
          %a{:href => "http://www.jonmoniaci.com/", :target => "_new"} jjm
          &dash; 2008 -
          = Time.now.strftime('%Y')
    #fb-root
    %script{:type => "text/javascript"}
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %script{:type => "text/javascript"}
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %script{:type => "text/javascript"}
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
